---
import Profile from "../../layouts/Profile.astro";
import { getWhoisData } from "../../services/whois.ts";
import { api } from "../../services/apiroute";

const jwt = Astro.cookies.get("jwt");
if (jwt?.value == undefined) {
  return Astro.redirect("/auth/login");
}
let userId;
let jwtValue = jwt?.value;

if (jwt !== undefined) {
  const userData = await getWhoisData(jwt.value);
  console.log(userData);
  userId = userData.id;
}

// ADD DIRECTIONS
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const street_1 = String(data.get("street_1"));
    const street_2 = String(data.get("street_2"));
    const city = String(data.get("city"));
    const country = String(data.get("country"));

    const formData = new FormData();
    formData.append("street_1", street_1);
    formData.append("street_2", street_2);
    formData.append("city", city);
    formData.append("country", country);
    if (jwt !== undefined) {
      const response = await fetch(`${api}profile/${userId}/address`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${jwtValue}`,
        },
        body: JSON.stringify({
          street1: street_1,
          street2: street_2,
          city: city,
          country: country,
        }),
      });
      if (response.ok) {
        console.log("Direcciones agregadas correctamente");
      } else {
        console.log("Error al agregar las direcciones");
      }
    }
  } catch (error) {
    if (error instanceof Error) {
      console.log(error.message);
    }
  }
}
---

<Profile title="Directions">
  <div>
    <form
      class="h-full flex flex-col justify-between space-y-4 md:space-y-6"
      method="post"
    >
      <h2 class="text-center font-bold text-xl">Add directions</h2>
      <div>
        <label
          for="street_1"
          class="block text-sm font-medium text-gray-900 dark:text-white"
          >Street one
        </label>
        <input
          type="text"
          name="street_1"
          id="street_1"
          class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Street one"
          required=""
        />
      </div>
      <div>
        <label
          for="street_2"
          class="block text-sm font-medium text-gray-900 dark:text-white"
          >Street two *
        </label>
        <input
          type="text"
          name="street_2"
          id="street_2"
          class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Street two"
        />
      </div>

      <div>
        <label
          for="city"
          class="block text-sm font-medium text-gray-900 dark:text-white"
          >City
        </label>
        <input
          type="text"
          name="city"
          id="city"
          class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="City"
          required=""
        />
      </div>
      <div>
        <label
          for="country"
          class="block text-sm font-medium text-gray-900 dark:text-white"
          >Country</label
        >
        <input
          type="text"
          name="country"
          id="country"
          placeholder="Country"
          class="bg-gray-50 border outline-0 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required=""
        />
      </div>
      <div class="flex justify-between">
        <p class="text-sm">* Street two is optional</p>
        <input
          type="submit"
          class="cursor-pointer bg-[#318014] p-2 px-5 rounded-sm self-end"
        />
      </div>
    </form>
  </div>
</Profile>
