---
import PricingCard from "../../components/pricing/PricingCard.astro";
import Header from "../../components/header/Header.astro";
---

<section>
  <h1
    class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center"
  >
    <a
      href="/"
      class="flex items-center justify-center mb-2 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-10 h-15 mr-2"
        src="https://iili.io/J9vk1bS.png "
        alt="logo"
      />
       Inmo<span class="text-[#a21caf]">vision</span>
    </a>
  </h1>
  <PricingCard />
</section>
