---
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = String(data.get("username"));
    const password = String(data.get("password"));

    console.log(name, password);

    const dataForm = new FormData();
    dataForm.append("username", name);
    dataForm.append("password", password);

    const response = await fetch("http://localhost:8080/auth/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        username: name,
        password: password,
      }),
    });

    if (response.ok) {
      const responseData = await response.json();
      const jwtToken = responseData.jwt;
      console.log(jwtToken);
      Astro.cookies.set("jwt", jwtToken, {
        httpOnly: true,
        secure: true,
        sameSite: "strict",
        path: "/",
        expires: new Date(Date.now() + 1000 * 60 * 60 * 24 * 7), // 7 dias nashe
      });
      console.log("Usuario logeado");
    } else {
      console.log("Error al logear");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.log(error.message);
    }
  }
}
---

<section class="h-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="/"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-10 h-15 mr-2"
        src="https://iili.io/J9vk1bS.png "
        alt="logo"
      />
       Inmo<span class="text-[#a21caf]">vision</span>
    </a>
    <div
      class="w-full rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 log-div"
    >
      <div
        class="p-6 shadow-[#a21caf6e] shadow-lg space-y-4 md:space-y-6 sm:p-8 text-white"
      >
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center"
        >
          Log in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" method="post">
          <div>
            <label
              for="username"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your <span class="text-m text-[#a21caf]">username</span>
            </label>
            <input
              type="text"
              name="username"
              id="username"
              class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Username"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="bg-gray-50 border outline-0 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  aria-describedby="remember"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                  required=""
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500 dark:text-gray-300"
                  >Remember me</label
                >
              </div>
            </div>
            <a
              href="/forgot-password"
              class="text-sm font-medium text-white hover:underline dark:text-primary-500"
              >Forgot your password?</a
            >
          </div>
          <button
            type="submit"
            class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-[#a21caf] rounded-full shadow-md group"
          >
            <span
              class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full group-hover:translate-x-0 ease"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
              >
            </span>
            <span
              class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease"
              >Log in</span
            >
            <span class="relative invisible">Log in</span>
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Dont have an account yet? <a
              href="/signup"
              class="font-medium text-[#a21caf] hover:underline dark:text-primary-500"
              >Create account</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<style is:inline>
  .log-div {
    background-color: #1d1e29;
  }
  body {
    background-color: #1d1e29; /* Color de fondo blanco */
    background-image:
      linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
      /* Líneas verticales */
        linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px); /* Líneas horizontales */
    background-size:
      20px 20px,
      20px 20px; /* Tamaño de las celdas de la cuadrícula */
    background-repeat: repeat, repeat; /* Repetición de gradientes para formar la cuadrícula */
    margin: 0; /* Elimina el margen predeterminado del body */
    font-family: system-ui, sans-serif;
    color: #fff;
  }
</style>
