---
import { getWhoisData } from "../services/whois";
const jwt = Astro.cookies.get("jwt");

if (jwt !== undefined) {
  const whoisData = await getWhoisData(jwt.value);
  console.log(whoisData);
}
---

<h1>Por favor veririca el email</h1>
