---
import { api } from "../../services/apiroute";
import { getWhoisData } from "../../services/whois";
import ProductCard from "../../components/products/ProductCard.astro";
import { getAllProductsForAllUsers } from "../../services/getAllProducts";
import Header from "../../components/header/Header.astro";
import Footer from "../../components/landing/Footer.astro";

const jwt = Astro.cookies.get("jwt");
let jwtValue = jwt?.value;

let userData;

if (jwt != undefined) {
  userData = await getWhoisData(jwt.value);
  console.log(userData);
}

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = String(data.get("name"));
    const sDescription = String(data.get("sDescription"));
    const lDescription = String(data.get("lDescription"));
    const price = String(data.get("price"));
    const imageData = String(data.get("imageData"));

    const formData = new FormData();
    formData.append("name", name);
    formData.append("sDescription", sDescription);
    formData.append("lDesription", lDescription);
    formData.append("price", price);
    formData.append("imageData", imageData);

    console.log(userData.id);

    const response = await fetch(`${api}api/article/${userData.id}/article`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${jwtValue}`,
      },
      body: JSON.stringify({
        name: name,
        sDescription: sDescription,
        lDescription: lDescription,
        price: price,
        imageData: imageData,
      }),
    });

    console.log(response);

    if (response.ok) {
      console.log("Articulo registrado correctamente");
    } else {
      console.log("Error al registrar el articulo");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>New Product</title>
  </head>
  <body
    class="h-screen scrollbar scrollbar-thumb-[#1b1c26] scrollbar-track-[#0D0F14]"
  >
    <Header />
    <main
      class="flex flex-col items-center mb-36 max-w-7xl px-4 m-auto related"
    >
      <h1 class="text-6xl text-center mb-12">Crear producto</h1>
      <form
        class="border border-[#343841] shadow-2xl rounded-lg flex flex-col p-10 bg-[#0d0f14] w-[800px] gap-6"
        method="POST"
      >
        <label class="flex justify-between" for="name"
          >Nombre del producto:
          <input
            type="text"
            class="text-black p-4 w-[360px]"
            name="name"
            id="name"
          />
        </label>
        <label class="flex justify-between" for="sDescription"
          >Descripcion breve:
          <textarea
            name="sDescription"
            class="text-black p-4 w-[360px]"
            id="sDescription"></textarea></label
        >

        <label class="flex justify-between" for="lDescription"
          >Descripcion larga:
          <textarea
            name="lDescription"
            class="text-black p-4 w-[360px]"
            id="lDescription"></textarea></label
        >

        <label class="flex justify-between" for="price"
          >Precio del producto:
          <input
            type="number"
            name="price"
            class="text-black p-4 w-[360px]"
            id="price"
            min="0"
          /></label
        >

        <label class="flex justify-between" for="imageData"
          >Link de la imagen:
          <input
            type="text"
            name="imageData"
            class="text-black p-4 w-[360px]"
            id="imageData"
          /></label
        >

        <input
          type="submit"
          value="Crear producto"
          class="bg-blue-700 text-white p-4 rounded
              hover:bg-blue-600 cursor-pointer"
        />
      </form>
    </main>
  </body>
  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap");
    * {
      font-family: "Inter", sans-serif;
    }
    html {
      scroll-behavior: smooth;
    }

    body {
      background-color: #0d0f14; /* Color de fondo blanco */
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.2) 1px,
        transparent 1px
      );
      /* Líneas verticales / linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px); / Líneas horizontales */
      background-size:
        20px 20px,
        20px 20px; /* Tamaño de las celdas de la cuadrícula */
      background-repeat: repeat, repeat; /* Repetición de gradientes para formar la cuadrícula */
      margin: 0; /* Elimina el margen predeterminado del body */
      color: #fff;
    }
  </style>
</html>
