<section class="about__us mb-36 max-w-5xl px-4 m-auto related" id="about__us">
	<div class="about">
		<div class="inner-container rounded-lg border shadow-md bg-gray-800 border-gray-700">
			<h1>About us</h1>
			<p class="text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum esse veniam
				molestias rem totam modi sit sed minima repellendus libero expedita incidunt nisi
				sequi ducimus atque deserunt delectus, necessitatibus iste?
			</p>
			<div class="skills">
				<span>Innovation</span>
				<span>Designs</span>
				<span>3D Models</span>
			</div>
		</div>
	</div>
</section>

<style>
	.about__us {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.about {
		background: url("https://iili.io/J982Ku4.jpg") no-repeat left;
		background-size: 90%;
		overflow: hidden;
		padding: 150px 0;
	}

	.inner-container {
		width: 50%;
		float: right;
		background-color: #0d0f14;
		padding: 50px;
		color: white;
	}

	.text {
		font-size: 13px;
		line-height: 30px;
		text-align: justify;
		margin-bottom: 40px;
	}

	.inner-container h1 {
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: 900;
	}

	.skills {
		display: flex;
		justify-content: space-between;
		font-weight: 700;
		font-size: 13px;
	}

	@media screen and (max-width: 1200px) {
		.inner-container {
			padding: 30px;
		}

		@media screen and (max-width: 1000px) {
			.about {
				background-size: 100%;
				padding: 100px 40px;
			}

			.inner-container {
				width: 60%;
				margin: 0 auto;
			}
		}

		@media screen and (max-width: 620px) {
			.about {
				padding: 0;
				border-radius: 8px;
			}

			.inner-container {
				width: 100%;
			}
		}
	}
</style>
