
<style>
    @import 'swiper/css/bundle';
  .mySwiper {
    width: 600px;
    height: 600px;
  }
  .swiper-button-next {
    padding: 30px;
    /* border: 1px solid red; */
    border-radius: 50%;
    background-color: gray;
    opacity: 55%;
    color: black;
  }
  .swiper-button-prev {
    padding: 30px;
    /* border: 1px solid red; */
    border-radius: 50%;
    background-color: gray;
    opacity: 55%;
    color: black;
  }
</style>

<div class="flex justify-center items-center relative h-full">
  <div class="swiper w-[350px] md:w-[600px] lg:w-[600px]">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://pbs.twimg.com/profile_images/468517947984867328/wYe1LueJ_400x400.jpeg"
        />
      </div>
    </div>

    <div class="swiper-button-prev hidden md:flex lg:flex"></div>
    <div class="swiper-button-next hidden md:flex lg:flex"></div>
  </div>
</div>

<script>
    import Swiper from 'Swiper/bundle';
    var swiper = new Swiper(".swiper", {
    effect: "cards",
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

