---
interface Props {
  href: string,
  height: string,
  width: string
}

const { href, width, height } = Astro.props;
---

<a
  href={href}
  class=`flex-row text-3xl sm:text-xl lg:text-2xl justify-center border text-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100 ${width} ${height}`
>
  <slot />
</a>
