---
import HeaderButton from "./HeaderButton.astro";
---
<div class="text-white h-screen my-auto">
    <div
      class="flex flex-col items-center gap-10 text-center relative"
    >
      <div class="flex flex-col items-center justify-center gap-10 z-10 h-[100vh]">
        <h1 class="text-8xl">
          Inmo<span class="text-fuchsia-700">vision</span>
        </h1>
        <h2 class="text-4xl">
          We turn <span class="text-fuchsia-700"> dreams</span> into reality
        </h2>
        <p class="text-lg w-[500px]">
          Create the house of your dreams in a few clicks, design it the way you
          like it and we will turn it into a
          <span class="text-fuchsia-700"> 3D</span> model<span
            class="text-fuchsia-700 font-bold">!</span
          >
        </p>
        <div>
            <HeaderButton height="h-12" width="w-44" href="#launches">Lets Start!</HeaderButton>
        </div>
      </div>
    </div>
    <div>
 <style >
    h1{
    
                font-size: 130px;
}
            h2{
            letter-spacing: 17px;

            }
    </style>