---
import { api } from "../../services/apiroute";

try {
  const data = await Astro.request.formData();
  const name = String(data.get("username"));
  const firstName = String(data.get("firstName"));
  const lastName = String(data.get("lastName"));
  const email = String(data.get("email"));
  const password = String(data.get("password"));

  console.log(name, email, password + " " + firstName + " " + lastName);

  const formData = new FormData();
  formData.append("username", name);
  formData.append("firstName", firstName);
  formData.append("lastName", lastName);
  formData.append("email", email);
  formData.append("password", password);

  const response = await fetch(`${api}auth/register`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      username: name,
      firstName: firstName,
      lastName: lastName,
      email: email,
      password: password,
    }),
  });

  if (response.ok) {
    console.log("Usuario registrado");
    return Astro.redirect("/auth/login");
  } else {
    console.log("Error al registrar usuario");
  }
} catch (error) {
  if (error instanceof Error) {
    console.error(error.message);
  }
}
---

<section class="h-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 log-div"
    >
      <div
        class="p-6 shadow-[#a21caf6e] shadow-lg space-y-4 md:space-y-6 sm:py-4 sm:px-8 text-white"
      >
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center"
        >
          <a
            href="/"
            class="flex items-center justify-center mb-2 text-2xl font-semibold text-gray-900 dark:text-white"
          >
            <img
              class="w-10 h-15 mr-2"
              src="https://iili.io/J9vk1bS.png "
              alt="logo"
            />
             Inmo<span class="text-[#a21caf]">vision</span>
          </a>
        </h1>
        <form class="space-y-4 md:space-y-6" method="post">
          <section class="flex justify-between gap-2">
            <div>
              <label
                for="firstName"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >First Name
              </label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="First Name"
                required=""
              />
            </div>
            <div>
              <label
                for="lastName"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Last Name
              </label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Last Name"
                required=""
              />
            </div>
          </section>
          <div>
            <label
              for="username"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Username
            </label>
            <input
              type="text"
              name="username"
              id="username"
              class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Username"
              required=""
            />
          </div>
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Email"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="bg-gray-50 border outline-0 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <button
            type="submit"
            class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-[#a21caf] rounded-full shadow-md group"
          >
            <span
              class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full group-hover:translate-x-0 ease"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
              >
            </span>
            <span
              class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease"
              >Register</span
            >
            <span class="relative invisible">Register</span>
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            You have an account? <a
              href="/auth/login"
              class="font-medium text-[#a21caf] hover:underline dark:text-primary-500"
              >Log in</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<style is:inline>
  .log-div {
    background-color: #0d0f14;
  }
  body {
    background-color: #0d0f14; /* Color de fondo blanco */
    background-image:
      linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
      /* Líneas verticales */
        linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px); /* Líneas horizontales */
    background-size:
      20px 20px,
      20px 20px; /* Tamaño de las celdas de la cuadrícula */
    background-repeat: repeat, repeat; /* Repetición de gradientes para formar la cuadrícula */
    margin: 0; /* Elimina el margen predeterminado del body */
    font-family: system-ui, sans-serif;
    color: #fff;
  }
</style>
