---
import HeaderButton from "../header/HeaderButton.astro";
---

<div
  class="flex flex-col items-center md:justify-center gap-12 text-center h-screen pt-[100px] md:pt-0"
>
  <div class="grid gap-3">
    <h1 class="text-[70px] sm:text-[100px] md:text-[150px] lg:tracking-widest">
      Inmo<span class="text-fuchsia-700">vision</span>
    </h1>
    <p class="text-[30px] md:text-[40px] lg:text-[50px] mb-3">
      We turn <span class="text-fuchsia-700"> dreams</span> into reality
    </p>
    <p class="mt-4 text-lg w-[60%] mx-auto font-bold">
      Create the house of your dreams in a few clicks, design it the way you
      like it and we will turn it into a
      <span class="text-fuchsia-700 font-bold"> 3D model !</span>
    </p>
  </div>
  <div>
    <HeaderButton height="h-16" width="w-60" href="#launches">
      Lets Start!
    </HeaderButton>
  </div>
</div>
