---

---

<section class="h-screen flex flex-col items-center">
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-center text-7xl m-10">
      Who <span class="text-fuchsia-700">we</span> are
    </h2>
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 md:w-[50%]">
    <div
      class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:border-gray-500 transition flex flex-col"
    >
      <img class="" src="../../../public/facundo.jpg" alt="" />
      <a class="text-center" href="#">f4cund0</a>
      <span class="text-fuchsia-700 text-center"
        >Full-stack leader developer</span
      >
    </div>
    <div
      class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:border-gray-500 transition flex flex-col"
    >
      <img src="../../../public/ramiro.jpg" alt="" />
      <a class="text-center" href="#">d4rkSaur0n</a>
      <span class="text-fuchsia-700 text-center"
        ><span class="text-yellow-200">Team leader</span> Full-stack developer</span
      >
    </div>
    <div
      class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:border-gray-500 transition flex flex-col"
    >
      <img src="../../../public/juana.jpg" alt="" />
      <a class="text-center" href="#">ju4n4</a>
      <span class="text-fuchsia-700 text-center">3D Models developer</span>
    </div>
    <div
      class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:border-gray-500 transition flex flex-col"
    >
      <img src="../../../public/ryan.jpg" alt="" />
      <a class="text-center" href="#">ry44n</a>
      <span class="text-fuchsia-700 text-center"
        >Front-end leader developer</span
      >
    </div>
    <div
      class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:border-gray-500 transition flex flex-col"
    >
      <img src="../../../public/tony.jpg" alt="" />
      <a class="text-center" href="#">t0ny</a>
      <span class="text-fuchsia-700 text-center">Front-end developer</span>
    </div>
    <div
      class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:border-gray-500 transition flex flex-col"
    >
      <img src="../../../public/pablo.jpg" alt="" />
      <a class="text-center" href="#">exdo</a>
      <span class="text-fuchsia-700 text-center">Front-end developer</span>
    </div>
  </div>
</section>
