---
import { api } from "../../services/apiroute";
import ClientOptions from "../user/ClientOptions.astro";
import SupplierOptions from "../user/SupplierOptions.astro";
const jwt = Astro.cookies.get("jwt");
console.log(jwt?.value);

let userData;
if (Astro.request.method === "GET") {
	try {
		const response = await fetch(`${api}auth/me`, {
			method: "GET",
			headers: {
				"Content-Type": "application/json",
				Authorization: `Bearer ${jwt?.value}`,
			},
		});

		if (response.ok) {
			userData = await response.json();
		} else {
			console.log("Error al obtener los datos del usuario");
		}
	} catch (error) {
		if (error instanceof Error) {
			console.log(error.message);
		}
	}
}

let supplierData = userData?.supplier;
---

<section class="h-screen flex flex-col px-8 py-3">
	<h1
		class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center"
	>
		<a
			href="/"
			class="flex items-center justify-center mb-2 text-2xl font-semibold text-gray-900 dark:text-white"
		>
			<img class="w-10 h-15 mr-2" src="https://iili.io/J9vk1bS.png " alt="logo" />
			 Inmo<span class="text-[#a21caf]">vision</span>
		</a>
	</h1>
	<div class="flex flex-col gap-5 h-auto md:flex-row">
		<div
			class="flex justify-between flex-col w-auto md:w-72 bg-[#0D0F14] border border-[#343841] shadow-2xl px-5 py-2 text-sm rounded-lg ml-5 text-center"
		>
			{
				() => {
					if (supplierData == null) {
						return <ClientOptions />;
					} else {
						return <SupplierOptions />;
					}
				}
			}

			<div class="py-3">
				<a
					href="/logout"
					class="w-full bg-[#6A1827] flex items-center gap-2 flex-row justify-center border border-[#6A1827] text-white cursor-pointer hover:bg-none
        focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-center inline-flex
        items-center dark:focus:ring-[#1da1f2]/55 p-2 hover:shadow-lg transition-all duration-200 ease-in-out
     opacity-70 hover:opacity-100"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						class="icon icon-tabler icon-tabler-logout"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="currentColor"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path
							d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
						></path>
						<path d="M9 12h12l-3 -3"></path>
						<path d="M18 15l3 -3"></path>
					</svg>
					 Cerrar Sesion
				</a>
			</div>
		</div>

		<div
			class="w-auto md:w-full border bg-[#0D0F14] border-[#343841] shadow-2xl p-5 rounded-lg ml-5"
			id="content"
		>
			<slot />
		</div>
	</div>
</section>

<style>
	body {
		background-color: #0d0f14; /* Color de fondo blanco */
		background-image:
			linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
			/* Líneas verticales */ linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px); /* Líneas horizontales */
		background-size:
			20px 20px,
			20px 20px; /* Tamaño de las celdas de la cuadrícula */
		background-repeat: repeat, repeat; /* Repetición de gradientes para formar la cuadrícula */
		margin: 0; /* Elimina el margen predeterminado del body */
		font-family: system-ui, sans-serif;
		color: #fff;
	}
</style>
