---
interface Props {
	href: string;
	height: string;
	width: string;
}

const { href, width, height } = Astro.props;
---

<a
	href={href}
	class=`text-2xl border py-4 px-8 text-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-center dark:focus:ring-[#1da1f2]/55  ${width} ${height}`
>
	<slot />
</a>
